.table {
  width: 300px;
  margin: 0px !important;
}
tr {
  text-align: center;
}
.container-table {
  width: 300px;
  height: 195px;
  margin-left: 20px;
}
th {
  border: 1px solid red;
}

.container-all2 {
  position: absolute;
  top: 312px;
  left: 200px;
}
