<div class="row">
  <div class="col">

  </div>
  <div class="col" style="flex-grow: 0">
    <label style="margin-left: 93px;font-size: 24px;">Nombre Precio</label>
    <div class="container-table">
      <table class="table" style="width: 300px; margin-left: 20px">
        <tbody>
        <tr>
          <th scope="row">Precio Base </th>
        </tr>
        <tr>
          <th scope="row">ImpuestoIva </th>
        </tr>
        <tr>
          <th scope="row">ImpuestoOtro</th>
        </tr>
        <tr>
          <th scope="row">PrecioVenta</th>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div class="col" style="margin-left: -50px;">
    <label style="font-size: 24px; margin-left: 134px;">Monto</label>
    <div class="container-table">
      <table class="table" style="width: 300px; margin-left: 20px">
        <tbody>
        <tr>
          <th scope="row">{{ precioBase || text }}</th>
        </tr>
        <tr>
          <th scope="row">{{ impuestoIva || 0 }}</th>
        </tr>
        <tr>
          <th scope="row">Caracteristica 3</th>
        </tr>
        <tr>
          <th scope="row">Caracteristica4</th>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>










